In [1]:
#Q1. List any five functions of the pandas library with execution.

In [2]:
import pandas as pd
d1={'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df=pd.DataFrame(d1)

In [3]:
##head()-It is used to show 1st five rows
df.head(1)

    Name  Age  Gender
0  Alice   25  Female

In [4]:
#tail()-It is used to show last rows
df.tail(1)

     Name  Age  Gender
2  Claire   27  Female

In [5]:
#info()-Its is used to get data type of columns and how many number of data is present
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [6]:
#shape-It is used to give shape of data
df.shape

(3, 3)

In [7]:
#describe()-It is used to give statistical data of data
df.describe()

             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

In [8]:
#Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
#DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [9]:
import pandas as pd
data={'A':[1,2,3],'B':[1,2,3],'C':[1,2,3]}
df=pd.DataFrame(data)
df

   A  B  C
0  1  1  1
1  2  2  2
2  3  3  3

In [10]:
df.index = pd.Index(map(lambda i: i*2 + 1, df.index), name='NewIndex')

In [11]:
df

          A  B  C
NewIndex
1         1  1  1
3         2  2  2
5         3  3  3

In [12]:
#Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
#iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
#function should print the sum to the console.

In [13]:
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

In [14]:
df

   Values
0      10
1      20
2      30
3      40
4      50

In [15]:
df.head(3).sum()

Values    60
dtype: int64

In [16]:
#Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
#'Word_Count' that contains the number of words in each row of the 'Text' column.

In [17]:
data={'text':['I am a nimral','this is amazing']}
df=pd.DataFrame(data)

In [18]:
df['word_count']=[len(i.split()) for i in df['text']]

In [19]:
df

              text  word_count
0    I am a nimral           4
1  this is amazing           3

In [20]:
#Q5. How are DataFrame.size() and DataFrame.shape() different?

In [21]:
#df.size-It gives the total number of element which are present in dataframe
#df.shpae-It gives the shape of dataframe

In [22]:
df.size

4

In [23]:
df.shape

(2, 2)

In [24]:
#Q6. Which function of pandas do we use to read an excel file?

In [25]:
#df=pd.read_excel('name of excel file') is used to read excel file

In [26]:
#Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
#addresses in the format 'username@domain.com'. Write a Python function that creates a new column
#'Username' in df that contains only the username part of each email address.

In [27]:
data={"email":['aptewdwkdj@gmail.com','jsiqjdiqjd@gmail.com','sjhdhdhwi@gmail.com']}
df=pd.DataFrame(data)
df

                  email
0  aptewdwkdj@gmail.com
1  jsiqjdiqjd@gmail.com
2   sjhdhdhwi@gmail.com

In [28]:
def extract_username(email):
    return email.split('@')[0]
df['username']=df['email'].apply(extract_username)

In [29]:
df

                  email    username
0  aptewdwkdj@gmail.com  aptewdwkdj
1  jsiqjdiqjd@gmail.com  jsiqjdiqjd
2   sjhdhdhwi@gmail.com   sjhdhdhwi

In [30]:
#Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
#all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
#function should return a new DataFrame that contains only the selected rows.

In [24]:
data={'a':[5,10,4,7,9,2,10],'b':[1,2,11,23,34,6,7],'c':[1,2,3,4,5,6,7]}
df=pd.DataFrame(data)
df

    a   b  c
0   5   1  1
1  10   2  2
2   4  11  3
3   7  23  4
4   9  34  5
5   2   6  6
6  10   7  7

In [25]:
def select_rows(df):
    # Select rows based on conditions
    selected_rows = df[(df['a'] > 5)  & (df['b'] < 10)]
    
    return selected_rows

# Call the function
selected_df = select_rows(df)

# Display the selected DataFrame
print(selected_df)
#Make sure to replace df with the actual name of your DataFrame. This function creates a new DataFrame, selected_df, containing only the rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10

    a  b  c
1  10  2  2
6  10  7  7

In [1]:
#Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
#median, and standard deviation of the values in the 'Values' column.

In [5]:
import pandas as pd
data={'values':[22,34,43,66,24],'value1':[223,440,444,333,222]}

In [6]:
df=pd.DataFrame(data)

In [7]:
df

   values  value1
0      22     223
1      34     440
2      43     444
3      66     333
4      24     222

In [19]:
def statistics(df):
    mean_df=df['values'].mean()
    median_df=df['values'].median()
    std_df=df['values'].std()
    print(f'mean of values column is -> {mean_df}')
    print(f'median of values column is -> {median_df}')
    print(f'std of values column is -> {std_df}')

In [20]:
obj=statistics(df)

mean of values column is -> 37.8
median of values column is -> 34.0
std of values column is -> 17.866169147301836

In [21]:
#Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
#create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
#for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
#should include the current day.

In [27]:
import pandas as pd
import numpy as np
from datetime import timedelta

# Set a random seed for reproducibility
np.random.seed(42)

# Generate random data
data = {
    'Date': pd.date_range(start='2023-01-01', periods=10),
    'Sales': np.random.randint(100, 1000, size=10)
}

# Create DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

        Date  Sales
0 2023-01-01    202
1 2023-01-02    535
2 2023-01-03    960
3 2023-01-04    370
4 2023-01-05    206
5 2023-01-06    171
6 2023-01-07    800
7 2023-01-08    120
8 2023-01-09    714
9 2023-01-10    221

In [30]:
def avg_sell(df):
    df.sort_values(by='Date',inplace= True)
    df['movingaverage']=df['Sales'].rolling(window=7,min_periods=1).mean()
    print(df)

In [31]:
avg_sell(df)

        Date  Sales  movingaverage
0 2023-01-01    202     202.000000
1 2023-01-02    535     368.500000
2 2023-01-03    960     565.666667
3 2023-01-04    370     516.750000
4 2023-01-05    206     454.600000
5 2023-01-06    171     407.333333
6 2023-01-07    800     463.428571
7 2023-01-08    120     451.714286
8 2023-01-09    714     477.285714
9 2023-01-10    221     371.714286

In [32]:
#Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
#column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
#Monday, Tuesday) corresponding to each date in the 'Date' column.

In [34]:
import pandas as pd

# Assuming you already have a DataFrame df with a 'Date' column
# If not, you can create one using pd.date_range

# Example DataFrame
df = pd.DataFrame({
    'Date': pd.date_range(start='2023-01-01', periods=10)
})

# Create a new column 'Weekday' using the 'Date' column
df['Weekday'] = df['Date'].dt.day_name()

# Print the DataFrame
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday
5 2023-01-06     Friday
6 2023-01-07   Saturday
7 2023-01-08     Sunday
8 2023-01-09     Monday
9 2023-01-10    Tuesday

In [35]:
#Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
#function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [ ]:
import pandas as pd
import numpy as np
from datetime import timedelta

# Set a random seed for reproducibility
np.random.seed(42)

# Generate random data
data = {
    'Date': pd.date_range(start='2022-12-01', end='2023-02-28'),
    'Sales': np.random.randint(100, 1000, size=90)
}

# Create DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

In [ ]:
import pandas as pd

# Assuming df is your DataFrame with a 'Date' column
# Make sure 'Date' column is in datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Select rows between '2023-01-01' and '2023-01-31'
selected_rows = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]

# Print the selected rows
print(selected_rows)