In [1]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

In [2]:
string1='nirmal'
list1=['pwskills',1,2,3,'nirmal']
float1=10.111
tuple1=('data science','machine learning','deep learning','data analysis')
print('string variable->',string1)
print('list variable->',list1)
print('float variable->',float1)
print('tuble variable->',tuple1)

string variable-> nirmal
list variable-> ['pwskills', 1, 2, 3, 'nirmal']
float variable-> 10.111
tuble variable-> ('data science', 'machine learning', 'deep learning', 'data analysis')

In [3]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.

In [4]:
var1=''
var2='[DS,ML,Python]'
var3=['DS','ML','Python']
var4=1.
print('type of var1->',type(var1))
print('type of var2->',type(var2))
print('type of var3->',type(var3))
print('type of var4->',type(var4))

type of var1-> <class 'str'>
type of var2-> <class 'str'>
type of var3-> <class 'list'>
type of var4-> <class 'float'>

In [5]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [6]:
print('/ is used for divison and it contains under arithmetic operator')
a=20
b=10
print('division of a/b is->',a/b)

/ is used for divison and it contains under arithmetic operator
division of a/b is-> 2.0

In [9]:
print('% is used for getting modulo of division')
a=345
b=22
print('modulo of a/b is->',a%b)

% is used for getting modulo of division
modulo of a/b is-> 15

In [10]:
print('// is used to get integer value from float answer of division')
a=345
b=22
print('integer value of division->',a//b)

// is used to get integer value from float answer of division
integer value of division-> 15

In [11]:
print('** is used for getting rest value')
a=2**2
b=2**3
print('square of 2 is->',a)
print('quabe od 2 is->',b)

** is used for getting rest value
square of 2 is-> 4
quabe od 2 is-> 8

In [12]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
#element and its data type.

In [14]:
list1=['1',2,3,4,5,6.5,'pwskills','data science',9,10.0]
len(list1)
for i in list1:
    print('element of list is->',i,'and type of that element is->',type(i))

element of list is-> 1 and type of that element is-> <class 'str'>
element of list is-> 2 and type of that element is-> <class 'int'>
element of list is-> 3 and type of that element is-> <class 'int'>
element of list is-> 4 and type of that element is-> <class 'int'>
element of list is-> 5 and type of that element is-> <class 'int'>
element of list is-> 6.5 and type of that element is-> <class 'float'>
element of list is-> pwskills and type of that element is-> <class 'str'>
element of list is-> data science and type of that element is-> <class 'str'>
element of list is-> 9 and type of that element is-> <class 'int'>
element of list is-> 10.0 and type of that element is-> <class 'float'>

In [15]:
#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
#times it can be divisible.

In [4]:
a=int(input('enter the value of a->'))
b=int(input('enter the value of b->'))
i=0
while a%b==0:
    a=a//b
    i=i+1    
if a==1:
    print(f'a is purely divisable by b and is {i} times divisable by b')
else:

    print(f'a is not purely divisable by b')

enter the value of a-> 8
enter the value of b-> 2

a is purely divisable by b and is 3 times divisable by b

In [5]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
#divisible by 3 or not.

In [10]:
list1=list(range(25))
list1
for i in list1:
    if i%3==0:
        print(f'{i} is divisable by 3')
    else:
        print(f'{i} is not divisable by 3')

0 is divisable by 3
1 is not divisable by 3
2 is not divisable by 3
3 is divisable by 3
4 is not divisable by 3
5 is not divisable by 3
6 is divisable by 3
7 is not divisable by 3
8 is not divisable by 3
9 is divisable by 3
10 is not divisable by 3
11 is not divisable by 3
12 is divisable by 3
13 is not divisable by 3
14 is not divisable by 3
15 is divisable by 3
16 is not divisable by 3
17 is not divisable by 3
18 is divisable by 3
19 is not divisable by 3
20 is not divisable by 3
21 is divisable by 3
22 is not divisable by 3
23 is not divisable by 3
24 is divisable by 3

In [11]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
#this property.

In [12]:
#mutable-if we are able to add element at any position in variable and modify as we want then it is known as mutable
list=[1,2,3,4,5,6,7]
print(list)
list[3]=9
print('modified list->',list)

[1, 2, 3, 4, 5, 6, 7]
modified list-> [1, 2, 3, 9, 5, 6, 7]

In [14]:
#immutale-if we are not able to add element at any position in variable and we dont modify it as we want then it is known as immutable
tuple=(1,2,3,4,5,6,7)
print(tuple)

(1, 2, 3, 4, 5, 6, 7)